{
    "extends": "airbnb-base",
    "globals": {
        "describe": true,
        "beforeEach": true,
        "afterEach": true,
        "it": true
    },
    "rules": {
        "no-plusplus": "off",
        "no-param-reassign": "off",
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }]
    }
}